@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-section: var(--section);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.825rem;

  --background: #ffffff;
  --foreground: #041562;

  --card: #ffffff;
  --card-foreground: #041562;
  --section: #f8f9fb; 

  --primary: #11468f; 
  --primary-foreground: #ffffff;

  --secondary: #da1212; 
  --secondary-foreground: #ffffff;

  --muted: #eeeeee;
  --muted-foreground: #555555;
  --accent: #bcccdc;
  --accent-foreground: #041562;

  --border: #d9eafd;
  --input: #d9eafd;
  --ring: #11468f33; 
  --destructive: #da1212;

  --heading: #041562;
  --paragraph: #555555;

  --gradient-primary: linear-gradient(135deg, #041562, #11468f);
  --gradient-accent: linear-gradient(135deg, #da1212, #ff4c4c);
}

/* ---------------- DARK MODE ---------------- */
/* .dark {
  --background: #041562;
  --foreground: #f8f9fb;

  --card: #0b1b3f;
  --card-foreground: #f8f9fb;
  --section: #0b1b3f;

  --primary: #d9eafd;
  --primary-foreground: #041562;

  --secondary: #ff4c4c;
  --secondary-foreground: #ffffff;

  --muted: #11468f;
  --muted-foreground: #d9eafd;

  --accent: #1e93ab;
  --accent-foreground: #ffffff;

  --border: #1e2b54;
  --input: #1e2b54;
  --ring: #bcccdc;
  --destructive: #ff4c4c;

  --heading: #ffffff;
  --paragraph: #dcdcdc;
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--heading);
  }

  p {
    color: var(--paragraph);
  }
}
